<footer>
    <nav>
        <div>
            <button routerLink="" type="menu" [ngClass]="{'active': isHomePage}"><img src="assets/icon/list.png" alt="liste des tâches"></button>
            <button routerLink="/tasks" type="menu" [ngClass]="{'active': isTasksPage}"><img src="assets/icon/plus.png" alt="ajout des tâches"></button>
            <button routerLink="/historical" type="menu" [ngClass]="{'active': isHistoricalPage}"><img src="assets/icon/historical.png" alt="l'historique des tâches"></button>
        </div>
    </nav>
</footer>
