<main>
    <form class="container">
        <p class="text-left">Sélectionnez votre catégorie* :</p>
        <div class="button-circular">
            <!-- La directive *ngFor permet de boucler sur le tableau "categories" et de générer un bouton pour chaque élément du tableau -->
            <button class="circular" [ngClass]="{ 'selected': category === selectedCategory }"
                *ngFor="let category of categories" (click)="selectCategory(category)">
                <!-- ngClass permet de définir une classe CSS en fonction de la catégorie sélectionnée -->
                {{ category }}
            </button>
        </div>

        <p class="text-left">Quelle tâche avez vous à effectuer* ?</p>
        <textarea name="task" id="task" cols="30" rows="10" placeholder="Exemple : Faire les courses"
            [(ngModel)]="task.content">{{ task.content }}</textarea>
        <!-- [(ngModel)] permet de lier la propriété "content" de l'objet "task" -->

        <label for="input" class="text-left">
            <input type="checkbox" class="checkbox" [(ngModel)]="task.isUrgent" name="isUrgent"> La tâche est urgente⚠️
        </label>
        <!-- [(ngModel)] permet de lier la propriété "isUrgent" de l'objet "task" -->

        <!-- La directive [disabled] permet d'activer ou désactiver le bouton si aucune catégorie ou si aucun contenu n'a été renseigné -->
        <button [disabled]="!selectedCategory || !task.content"
            [ngStyle]="{ 'background-color': (!selectedCategory || !task.content) ? 'rgba(100, 167, 217, 0.5)' : 'var(--color--blue)' }"
            (click)="validateTask()" routerLink="">
            <!-- ngStyle permet de définir la couleur de fond du bouton en fonction de l'état du formulaire -->
            Modifier ma tâche
        </button>
    </form>
</main>
