<main>
    <ng-template #otherContain>
        <section>
            <div>
                <p>Aucune tâche pour le moment 🙌</p>
            </div>
            <app-create-tasks></app-create-tasks>
        </section>
    </ng-template>

    <section *ngIf="tasks.length > 0; else otherContain">
        <div class="otherContain">
            <h4 *ngIf="urgentTasks.length > 0">⚠️ Tâches urgentes</h4>
            <ul>
                <li *ngFor="let task of urgentTasks">
                    <ng-container *ngIf="!task.doneDate">
                        <input type="checkbox" class="checkbox" (click)="toggleDone(task)"
                            [class.done]="task.doneDate" />
                        <a routerLink="tasks/id"><label for="input">{{ task.category }} {{ task.content }}</label></a>
                    </ng-container>
                </li>
            </ul>
            <h4 *ngIf="otherTasks.length > 0">🌸 Autres tâches</h4>
            <ul>
                <li *ngFor="let task of otherTasks">
                    <ng-container *ngIf="!task.doneDate">
                        <input type="checkbox" class="checkbox" (click)="toggleDone(task)"
                            [class.done]="task.doneDate" />
                        <a routerLink="tasks/id"><label for="input">{{ task.category }} {{ task.content }}</label></a>
                    </ng-container>
                </li>
            </ul>
        </div>
    </section>
    <!-- <section class="list">
    <li *ngFor="let task of tasks">
        <ul> <input type="checkbox" class="checkbox" (click)="toggleDone(task)" [class.done]="task.done"> 
            <label for="input">{{task.category}} {{task.content}}</label>
        </ul>
    </li>
</section> -->
</main>